tbody td{
    color: rgb(5, 0, 33) !important;
    font-size: 12px;
    font-weight: 600;
}
thead,tfoot th{
    color: rgb(0, 0, 0) !important;
    font-size: 12px;
}
.ring{
    color: yellow !important;
    margin-left: 50% !important;
}
